$spacing: 1, 2, 3, 4, 5, 6, 8, 10, 12;
$directions: "t" "top", "e" "right", "b" "bottom", "s" "left";


@each $space in $spacing {
  .m-#{$space} {
    margin: #{$space}rem !important;
  }

  @each $key,
  $direction in $directions {
    .m#{$key}-#{$space} {
      margin-#{$direction}: #{$space}rem !important;
    }
  }

  .p-#{$space} {
    padding: #{$space}rem !important;
  }

  @each $key,
  $direction in $directions {
    .p#{$key}-#{$space} {
      padding-#{$direction}: #{$space}rem !important;
    }
  }

}

;