@use "../abstract/functions" as fun;
@use "../abstract/mixins" as mixin;

.about-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: fun.theme-color();
  padding: 7rem 12rem;
  gap: 1rem;
  clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%, 28% 81%);

  @include mixin.responsive(xs) {
    flex-direction: column;
    padding: 1rem 2rem;
    padding-bottom: 10rem;
    clip-path: polygon(100% 0, 0 0, 0 100%, 19% 89%, 100% 100%);
  }

  @include mixin.responsive(sm) {
    padding: 1rem 2rem;
    padding-bottom: 6rem;
    gap: 3rem;
    clip-path: polygon(100% 0, 0 0, 0 100%, 19% 89%, 100% 100%);
  }

  @include mixin.responsive(md) {
    padding: 4rem 3rem;
    gap: 4rem;
    padding-bottom: 5rem;
  }

  @include mixin.responsive(lg) {
    padding: 4rem;
    gap: 7rem;
    padding-bottom: 6rem;
  }

  @include mixin.responsive(xl) {
    padding: 9rem;
    clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%, 28% 81%);
  }

  @include mixin.responsive(xxl) {
    padding: 6rem 7rem;
  }

  &--illustration > svg {
    width: 30rem;

    @include mixin.responsive(xs) {
      width: 100%;
    }

    @include mixin.responsive(sm) {
      width: 17rem;
    }

    @include mixin.responsive(md) {
      width: 19rem;
    }

    @include mixin.responsive(lg) {
      width: 22rem;
    }

    @include mixin.responsive(xl) {
      width: 28rem;
    }

    @include mixin.responsive(xxl) {
      width: 30rem;
    }
  }

  &--container {
    & h2 {
      color: fun.theme-color("default-white");
      font-weight: 500;
      font-size: 3rem;

      @include mixin.responsive(xs) {
        font-size: 1.5rem;
        margin-bottom: .5rem;
      }

      @include mixin.responsive(sm) {
        font-size: 1.3rem;
        margin-bottom: .5rem;
      }

      @include mixin.responsive(md) {
        font-size: 1.5rem;
      }

      @include mixin.responsive(lg) {
        font-size: 1.7rem;
      }
    }

    & p {
      color: #ddd;
      font-size: 15px;
      line-height: 2;

      @include mixin.responsive(xs) {
        line-height: 1.2;
        font-size: .9rem;
      }

      @include mixin.responsive(sm) {
        font-size: .9rem;
        line-height: 1.3;
      }

      @include mixin.responsive(md) {
        line-height: 1.5;
        font-size: .99rem;
      }
    }
  }
}