@use "../abstract/functions" as fun;
@use "../abstract/mixins" as mixin;

.contact--area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 6rem;

  @include mixin.responsive(xs) {
    padding: 4rem 3rem;
  }

  @include mixin.responsive(sm) {
    padding: 4rem 2rem;
  }

  &-heading > h2 {
    font-weight: 400;

    @include mixin.responsive(xs) {
      font-size: 1.2rem;
    }

    @include mixin.responsive(sm) {
      font-size: 1.2rem;
    }
  }

  &-heading > p {
    font-size: 14px;

    @include mixin.responsive(xs) {
      font-size: .7rem;
    }

    @include mixin.responsive(sm) {
      font-size: .7rem;
    }
  }

  &-items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    @include mixin.responsive(xs) {
      flex-direction: column-reverse;
      align-items: initial;
    }

    @include mixin.responsive(sm) {
      gap: 2rem;
    }

    &_img {
      width: 100%;
    }
  }

  &-content {
    width: 100%;

    & > form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: .2rem;

      button {
        width: 50% !important;
        margin: 0 auto;
      }
    }

    .form-grp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: .6rem;
      gap: .2rem;

      input {
        height: 2rem;
        border: none;
        border-radius: .4rem;
        padding: 1.2rem;
        background-color: rgba(238, 238, 238, 0.531);
      }

      input::placeholder {
        padding-left: 1rem;
      }

      textarea {
        background-color: rgba(238, 238, 238, 0.531);
        border: none;
        border-radius: .4rem;
        padding: 1rem;
        resize: none;

      }

      textarea::placeholder {
        padding: 1rem;

      }
    }
  }
}