@use "../abstract/functions" as fun;
@use "../abstract/mixins" as mixin;

.roadmap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 12rem;
  gap: 2rem;

  @include mixin.responsive(xs) {
    padding: 3rem 2rem;
  }

  @include mixin.responsive(sm) {
    padding: 3rem 2rem;
  }

  @include mixin.responsive(md) {
    padding: 4rem 3rem;
  }

  @include mixin.responsive(lg) {
    padding: 4rem;
  }

  &--heading {
    text-align: center;

    & > h2 {
      font-weight: 500;

      @include mixin.responsive(xs) {
        font-size: 1.2rem;
      }

      @include mixin.responsive(sm) {
        font-size: 1.2rem;
      }

      @include mixin.responsive(md) {
        font-size: 1.4rem;
      }

      @include mixin.responsive(lg) {
        font-size: 1.5rem;
      }
    }

    & > p {
      font-size: 15px;

      @include mixin.responsive(xs) {
        font-size: .7rem;
      }

      @include mixin.responsive(sm) {
        font-size: .8rem;
      }

      @include mixin.responsive(md) {
        font-size: 1rem;
      }
    }

    &-line {
      margin: 0 auto;
      margin-top: .5rem;
      width: 5rem;
      height: .4rem;
      border-radius: .5rem;
      background: linear-gradient(to right, rgb(255, 118, 33), fun.theme-color(), rgba(195, 255, 42, 0.942));
    }
  }

  &--items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @include mixin.responsive(xs) {
      flex-direction: column;
    }

    &-Rightarrow > svg {
      width: 2rem;
      height: 2rem;

      @include mixin.responsive(xs) {
        transform: rotate(94deg);
      }
    }
  }

  &--item {
    text-align: center;
    width: 15rem;
    padding: 1rem;
    border: .1rem solid fun.theme-color("default-dark");
    border-radius: .8rem;
    box-shadow:
      7.1px 7.1px 1px rgba(0, 0, 0, 0.556);
    z-index: 1;
    transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

    @include mixin.responsive(xs) {
      width: 100%;
    }

    @include mixin.responsive(sm) {
      width: 100%;
      padding: .7rem;
    }

    &:hover {
      border-radius: .6rem;
      box-shadow:
        1.1px 1.1px 0.6px rgba(0, 0, 0, 0.896),
        3.6px 3.8px 2px rgba(0, 0, 0, 0.568),
        16px 17px 7px rgba(0, 0, 0, 0.438);
      z-index: 2;
    }

    &_img {
      width: 8rem;
      height: 8rem;
      margin: auto;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;

      @include mixin.responsive(xs) {
        width: 6rem;
        height: 6rem;
      }

      @include mixin.responsive(sm) {
        width: 5rem;
        height: 5rem;
      }

      @include mixin.responsive(md) {
        width: 7rem;
        height: 7rem;
      }

      img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;

        @include mixin.responsive(xs) {
          width: 3rem;
          height: 3rem;
        }

        @include mixin.responsive(sm) {
          width: 3rem;
          height: 3rem;
        }

        @include mixin.responsive(md) {
          width: 4rem;
          height: 4rem;
        }
      }
    }

    h4 {
      font-weight: 500;

      @include mixin.responsive(xs) {
        font-size: .95rem;
      }

      @include mixin.responsive(sm) {
        font-size: .9rem;
      }

      @include mixin.responsive(md) {
        font-size: 1rem;
      }
    }

    p {
      font-size: 14px;
      line-height: 1.5;

      @include mixin.responsive(xs) {
        font-size: .8rem;
        line-height: 1.2;
      }

      @include mixin.responsive(sm) {
        font-size: .8rem;
        line-height: 1.2;
      }

      @include mixin.responsive(md) {
        font-size: .9rem;
      }

      @include mixin.responsive(lg) {
        font-size: .98rem;
      }
    }
  }

}