@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:wght@100;200;300;400;700&family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-margin-top: 60px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.905);
}

body {
  background-color: #fff;
}

.btn, .btn-outline-dark, .btn-dark, .btn-outline-primary, .btn-secondary, .btn-primary {
  padding: 0.5rem 1.2rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-primary {
  background-color: #1e90ff !important;
  color: #fff !important;
}
.btn-primary:hover {
  background-color: rgba(30, 143, 255, 0.753) !important;
  color: #fff !important;
}
.btn-primary.active {
  background-color: rgba(30, 143, 255, 0.753) !important;
  color: #fff !important;
}
.btn-secondary {
  background-color: rgb(108, 99, 255) !important;
  color: #fff !important;
}
.btn-secondary:hover {
  background-color: rgba(107, 99, 255, 0.789) !important;
  color: #fff !important;
}
.btn-secondary.active {
  background-color: rgba(107, 99, 255, 0.789) !important;
  color: #fff !important;
}
.btn-outline-primary {
  border: 0.1rem solid #1e90ff !important;
  color: #1e90ff;
  background-color: transparent !important;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-outline-primary:hover {
  background-color: #1e90ff !important;
  color: #fff;
}
.btn-outline-primary.active {
  background-color: #1e90ff !important;
  color: #fff;
}
.btn-dark {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.905) !important;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-dark:hover {
  background-color: rgba(0, 0, 0, 0.513) !important;
  color: #fff;
}
.btn-dark.active {
  background-color: rgba(0, 0, 0, 0.513) !important;
  color: #fff;
}
.btn-outline-dark {
  border: 0.1rem solid rgba(0, 0, 0, 0.905) !important;
  color: rgba(0, 0, 0, 0.905);
  background-color: transparent !important;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-outline-dark:hover {
  background-color: rgba(0, 0, 0, 0.905) !important;
  color: #fff;
}
.btn-outline-dark.active {
  background-color: rgba(0, 0, 0, 0.905) !important;
  color: #fff;
}

.header {
  width: 100%;
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media only screen and (max-width: 575.9px) {
  .header {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .header {
    border-radius: 0;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    border-radius: 0;
  }
}
.header > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 9rem;
  z-index: 11;
}
@media only screen and (max-width: 575.9px) {
  .header > div {
    padding: 0.7rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .header > div {
    padding: 0.8rem 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .header > div {
    padding: 0.8rem 3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header > div {
    padding: 0.8rem 4rem;
  }
}
@media only screen and (min-width: 1400px) {
  .header > div {
    padding: 0.8rem 6rem;
  }
}
.header > div > a h2 {
  font-family: "Shadows Into Light", cursive;
}
@media only screen and (max-width: 575.9px) {
  .header > div > a h2 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .header > div > a h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .header > div > a h2 {
    font-size: 1.4rem;
  }
}
.header > div > a:hover {
  color: rgba(0, 0, 0, 0.513);
}
.header > div .nav-toggler > i {
  display: none;
}
@media only screen and (max-width: 575.9px) {
  .header > div .nav-toggler > i {
    display: block;
    font-size: 1.5rem;
  }
  .header > div .nav-toggler > i.hide {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  .header > div .nav-toggler > i {
    display: block;
    font-size: 2rem;
  }
  .header > div .nav-toggler > i.hide {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .header > div .nav-toggler > i {
    display: none;
  }
}
.header--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
@media only screen and (max-width: 575.9px) {
  .header--menu {
    display: none;
    position: fixed;
    top: -100%;
    right: 10%;
    width: 80%;
    height: 100%;
    background-color: #fff;
    z-index: 8;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .header--menu.show {
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    display: block;
    top: 7.5%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.905);
  }
  .header--menu li:first-child {
    margin-top: 2rem;
  }
  .header--menu li {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 991.9px) {
  .header--menu {
    display: none;
    position: fixed;
    top: -100%;
    right: 10%;
    width: 80%;
    height: 100%;
    background-color: #fff;
    z-index: 8;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    top: 10%;
    right: -100%;
    width: 50%;
  }
  .header--menu.show {
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    display: block;
    top: 7.5%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.905);
  }
  .header--menu li:first-child {
    margin-top: 2rem;
  }
  .header--menu li {
    text-align: center;
    margin-bottom: 1rem;
  }
  .header--menu.show {
    right: 0;
  }
}
@media only screen and (min-width: 992px) {
  .header--menu {
    display: flex;
  }
}
.header--menu--item {
  list-style: none;
}
.header--menu--item > a {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.header--menu--item > a.active {
  color: #1e90ff;
}
.header--menu--item > a:hover {
  color: #1e90ff;
}
.header.nav-fixed {
  width: 100%;
  position: fixed;
  top: -1px;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.905);
  z-index: 20;
}

.background-shapes .box1 {
  position: absolute;
  top: 14%;
  left: 8%;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 0.19rem;
  background-color: transparent;
  border: 0.1rem solid #1e90ff;
  transition: animation 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: rotate 9s linear infinite;
  z-index: -1;
}
@media only screen and (min-width: 576px) {
  .background-shapes .box1 {
    top: 20%;
  }
}
.background-shapes .box2 {
  position: absolute;
  bottom: 30%;
  left: 34%;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 0.19rem;
  background-color: transparent;
  border: 0.1rem solid rgba(0, 0, 0, 0.905);
  transition: animation 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: rotate 9s linear infinite;
  z-index: -1;
}
@media only screen and (max-width: 575.9px) {
  .background-shapes .box2 {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  .background-shapes .box2 {
    top: 27%;
    left: 64%;
  }
}
@media only screen and (min-width: 768px) {
  .background-shapes .box2 {
    top: 16%;
    left: 64%;
  }
}
.background-shapes .box3 {
  position: absolute;
  bottom: 14%;
  right: 5%;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 0.19rem;
  background-color: transparent;
  border: 0.1rem solid rgb(19, 151, 138);
  transition: animation 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: rotate 9s linear infinite;
  z-index: -1;
}
@media only screen and (min-width: 576px) {
  .background-shapes .box3 {
    bottom: 30%;
    right: 7%;
  }
}
.background-shapes .circle1 {
  position: absolute;
  top: 54%;
  left: 5%;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid #1e90ff;
  transition: animation 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: rotate 9s linear infinite;
  z-index: -1;
}
@media only screen and (min-width: 576px) {
  .background-shapes .circle1 {
    top: 43%;
  }
}
.background-shapes .circle2 {
  position: absolute;
  bottom: 8%;
  left: 22%;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid rgba(0, 0, 0, 0.905);
  transition: animation 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: rotate 9s linear infinite;
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  .background-shapes .circle2 {
    bottom: 14%;
    left: 6%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .circle2 {
    bottom: 14%;
    left: 16%;
  }
}
.background-shapes .circle3 {
  position: absolute;
  bottom: 14%;
  right: 18%;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid rgb(46, 195, 177);
  transition: animation 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: rotate 9s linear infinite;
  z-index: -1;
}
@media only screen and (min-width: 576px) {
  .background-shapes .circle3 {
    right: 28%;
  }
}
.background-shapes .circle4 {
  position: absolute;
  top: 16%;
  right: 5%;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid rgb(19, 151, 138);
  transition: animation 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: rotate 9s linear infinite;
  z-index: -1;
}
@media only screen and (min-width: 576px) {
  .background-shapes .circle4 {
    top: 40%;
    right: 10%;
  }
}
.background-shapes .dot1 {
  position: absolute;
  bottom: 7%;
  left: 50%;
  width: 0.3rem;
  height: 0.3rem;
  background-color: #1e90ff;
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  .background-shapes .dot1 {
    bottom: 80%;
    left: 90%;
  }
}
.background-shapes .dot2 {
  position: absolute;
  top: 12%;
  right: 47%;
  width: 0.3rem;
  height: 0.3rem;
  background-color: #1e90ff;
  z-index: -1;
}
@media only screen and (min-width: 576px) {
  .background-shapes .dot2 {
    top: 40%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .dot2 {
    top: 70%;
  }
}
.background-shapes .dot3 {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 0.3rem;
  height: 0.3rem;
  background-color: #1e90ff;
  z-index: -1;
}
@media only screen and (min-width: 576px) {
  .background-shapes .dot3 {
    top: 20%;
    left: 20%;
  }
}

.m-1 {
  margin: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.me-1 {
  margin-right: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.ms-1 {
  margin-left: 1rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pe-1 {
  padding-right: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.ps-1 {
  padding-left: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.me-2 {
  margin-right: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.ms-2 {
  margin-left: 2rem !important;
}

.p-2 {
  padding: 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pe-2 {
  padding-right: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.ps-2 {
  padding-left: 2rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.me-3 {
  margin-right: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.ms-3 {
  margin-left: 3rem !important;
}

.p-3 {
  padding: 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pe-3 {
  padding-right: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.ps-3 {
  padding-left: 3rem !important;
}

.m-4 {
  margin: 4rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.me-4 {
  margin-right: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.ms-4 {
  margin-left: 4rem !important;
}

.p-4 {
  padding: 4rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pe-4 {
  padding-right: 4rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.ps-4 {
  padding-left: 4rem !important;
}

.m-5 {
  margin: 5rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.me-5 {
  margin-right: 5rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.ms-5 {
  margin-left: 5rem !important;
}

.p-5 {
  padding: 5rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pe-5 {
  padding-right: 5rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.ps-5 {
  padding-left: 5rem !important;
}

.m-6 {
  margin: 6rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.me-6 {
  margin-right: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.ms-6 {
  margin-left: 6rem !important;
}

.p-6 {
  padding: 6rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.pe-6 {
  padding-right: 6rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.ps-6 {
  padding-left: 6rem !important;
}

.m-8 {
  margin: 8rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.me-8 {
  margin-right: 8rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.ms-8 {
  margin-left: 8rem !important;
}

.p-8 {
  padding: 8rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.pe-8 {
  padding-right: 8rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

.ps-8 {
  padding-left: 8rem !important;
}

.m-10 {
  margin: 10rem !important;
}

.mt-10 {
  margin-top: 10rem !important;
}

.me-10 {
  margin-right: 10rem !important;
}

.mb-10 {
  margin-bottom: 10rem !important;
}

.ms-10 {
  margin-left: 10rem !important;
}

.p-10 {
  padding: 10rem !important;
}

.pt-10 {
  padding-top: 10rem !important;
}

.pe-10 {
  padding-right: 10rem !important;
}

.pb-10 {
  padding-bottom: 10rem !important;
}

.ps-10 {
  padding-left: 10rem !important;
}

.m-12 {
  margin: 12rem !important;
}

.mt-12 {
  margin-top: 12rem !important;
}

.me-12 {
  margin-right: 12rem !important;
}

.mb-12 {
  margin-bottom: 12rem !important;
}

.ms-12 {
  margin-left: 12rem !important;
}

.p-12 {
  padding: 12rem !important;
}

.pt-12 {
  padding-top: 12rem !important;
}

.pe-12 {
  padding-right: 12rem !important;
}

.pb-12 {
  padding-bottom: 12rem !important;
}

.ps-12 {
  padding-left: 12rem !important;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 42px 50px 26px rgba(0, 0, 0, 0.32);
  }
}
.hero-area {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 10rem;
}
@media only screen and (max-width: 575.9px) {
  .hero-area {
    height: 100%;
    padding: 2rem;
    gap: 1rem;
    padding-bottom: 5rem;
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area {
    height: 100%;
    padding: 2rem;
    flex-direction: column;
    gap: 3.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero-area {
    height: 100%;
    padding: 2rem 3rem;
    flex-direction: column;
    gap: 3.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area {
    height: 100vh;
    padding: 3rem 4rem;
    padding-top: 10rem;
    flex-direction: row;
    gap: 3.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-area {
    padding: 3rem 5rem;
    margin-top: 3.5rem;
  }
}
.hero-area--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
}
.hero-area--container > h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.905);
}
@media only screen and (max-width: 575.9px) {
  .hero-area--container > h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area--container > h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero-area--container > h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area--container > h2 {
    font-size: 1.7rem;
  }
}
.hero-area--container--desc {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: rgba(128, 128, 128, 0.875);
}
@media only screen and (max-width: 575.9px) {
  .hero-area--container--desc {
    font-size: 0.8rem;
    line-height: 1.3;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area--container--desc {
    font-size: 0.8rem;
    line-height: 1.5;
  }
}
@media only screen and (min-width: 768px) {
  .hero-area--container--desc {
    font-size: 1rem;
    line-height: 1.6;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area--container--desc {
    font-size: 1rem;
    line-height: 1.7;
  }
}
.hero-area--illustration {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 575.9px) {
  .hero-area--illustration {
    margin-top: 4rem;
  }
}

.about-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e90ff;
  padding: 7rem 12rem;
  gap: 1rem;
  clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%, 28% 81%);
}
@media only screen and (max-width: 575.9px) {
  .about-area {
    flex-direction: column;
    padding: 1rem 2rem;
    padding-bottom: 10rem;
    clip-path: polygon(100% 0, 0 0, 0 100%, 19% 89%, 100% 100%);
  }
}
@media only screen and (min-width: 576px) {
  .about-area {
    padding: 1rem 2rem;
    padding-bottom: 6rem;
    gap: 3rem;
    clip-path: polygon(100% 0, 0 0, 0 100%, 19% 89%, 100% 100%);
  }
}
@media only screen and (min-width: 768px) {
  .about-area {
    padding: 4rem 3rem;
    gap: 4rem;
    padding-bottom: 5rem;
  }
}
@media only screen and (min-width: 992px) {
  .about-area {
    padding: 4rem;
    gap: 7rem;
    padding-bottom: 6rem;
  }
}
@media only screen and (min-width: 1200px) {
  .about-area {
    padding: 9rem;
    clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%, 28% 81%);
  }
}
@media only screen and (min-width: 1400px) {
  .about-area {
    padding: 6rem 7rem;
  }
}
.about-area--illustration > svg {
  width: 30rem;
}
@media only screen and (max-width: 575.9px) {
  .about-area--illustration > svg {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) {
  .about-area--illustration > svg {
    width: 17rem;
  }
}
@media only screen and (min-width: 768px) {
  .about-area--illustration > svg {
    width: 19rem;
  }
}
@media only screen and (min-width: 992px) {
  .about-area--illustration > svg {
    width: 22rem;
  }
}
@media only screen and (min-width: 1200px) {
  .about-area--illustration > svg {
    width: 28rem;
  }
}
@media only screen and (min-width: 1400px) {
  .about-area--illustration > svg {
    width: 30rem;
  }
}
.about-area--container h2 {
  color: #fff;
  font-weight: 500;
  font-size: 3rem;
}
@media only screen and (max-width: 575.9px) {
  .about-area--container h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .about-area--container h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .about-area--container h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .about-area--container h2 {
    font-size: 1.7rem;
  }
}
.about-area--container p {
  color: #ddd;
  font-size: 15px;
  line-height: 2;
}
@media only screen and (max-width: 575.9px) {
  .about-area--container p {
    line-height: 1.2;
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) {
  .about-area--container p {
    font-size: 0.9rem;
    line-height: 1.3;
  }
}
@media only screen and (min-width: 768px) {
  .about-area--container p {
    line-height: 1.5;
    font-size: 0.99rem;
  }
}

.roadmap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 12rem;
  gap: 2rem;
}
@media only screen and (max-width: 575.9px) {
  .roadmap {
    padding: 3rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap {
    padding: 3rem 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .roadmap {
    padding: 4rem 3rem;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap {
    padding: 4rem;
  }
}
.roadmap--heading {
  text-align: center;
}
.roadmap--heading > h2 {
  font-weight: 500;
}
@media only screen and (max-width: 575.9px) {
  .roadmap--heading > h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--heading > h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .roadmap--heading > h2 {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap--heading > h2 {
    font-size: 1.5rem;
  }
}
.roadmap--heading > p {
  font-size: 15px;
}
@media only screen and (max-width: 575.9px) {
  .roadmap--heading > p {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--heading > p {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 768px) {
  .roadmap--heading > p {
    font-size: 1rem;
  }
}
.roadmap--heading-line {
  margin: 0 auto;
  margin-top: 0.5rem;
  width: 5rem;
  height: 0.4rem;
  border-radius: 0.5rem;
  background: linear-gradient(to right, rgb(255, 118, 33), #1e90ff, rgba(195, 255, 42, 0.942));
}
.roadmap--items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 575.9px) {
  .roadmap--items {
    flex-direction: column;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--items {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  .roadmap--items {
    flex-direction: row;
  }
}
.roadmap--items-Rightarrow > i {
  font-size: 4rem;
}
@media only screen and (max-width: 575.9px) {
  .roadmap--items-Rightarrow > i {
    transform: rotate(90deg);
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--items-Rightarrow > i {
    transform: rotate(90deg);
  }
}
@media only screen and (min-width: 768px) {
  .roadmap--items-Rightarrow > i {
    transform: rotate(0deg);
  }
}
.roadmap--item {
  text-align: center;
  width: 15rem;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.905);
  border-radius: 0.8rem;
  box-shadow: 7.1px 7.1px 1px rgba(0, 0, 0, 0.556);
  z-index: 1;
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@media only screen and (max-width: 575.9px) {
  .roadmap--item {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--item {
    width: 100%;
    padding: 0.7rem;
  }
}
@media only screen and (min-width: 1400px) {
  .roadmap--item {
    width: 15rem;
    padding: 0.6rem;
  }
}
.roadmap--item:hover {
  border-radius: 0.6rem;
  box-shadow: 1.1px 1.1px 0.6px rgba(0, 0, 0, 0.896), 3.6px 3.8px 2px rgba(0, 0, 0, 0.568), 16px 17px 7px rgba(0, 0, 0, 0.438);
  z-index: 2;
}
.roadmap--item_img {
  width: 8rem;
  height: 8rem;
  margin: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
@media only screen and (max-width: 575.9px) {
  .roadmap--item_img {
    width: 6rem;
    height: 6rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--item_img {
    width: 5rem;
    height: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .roadmap--item_img {
    width: 7rem;
    height: 7rem;
  }
}
.roadmap--item_img img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
@media only screen and (max-width: 575.9px) {
  .roadmap--item_img img {
    width: 3rem;
    height: 3rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--item_img img {
    width: 3rem;
    height: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .roadmap--item_img img {
    width: 4rem;
    height: 4rem;
  }
}
.roadmap--item h4 {
  font-weight: 500;
}
@media only screen and (max-width: 575.9px) {
  .roadmap--item h4 {
    font-size: 0.95rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--item h4 {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 768px) {
  .roadmap--item h4 {
    font-size: 1rem;
  }
}
.roadmap--item p {
  font-size: 14px;
  line-height: 1.5;
}
@media only screen and (max-width: 575.9px) {
  .roadmap--item p {
    font-size: 0.8rem;
    line-height: 1.2;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--item p {
    font-size: 0.8rem;
    line-height: 1.2;
  }
}
@media only screen and (min-width: 768px) {
  .roadmap--item p {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1400px) {
  .roadmap--item p {
    font-size: 1rem;
  }
}

.course {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #1e90ff;
  clip-path: polygon(0 14%, 100% 0%, 100% 86%, 0% 100%);
}
@media only screen and (max-width: 575.9px) {
  .course {
    clip-path: polygon(100% 0, 0 4%, 0 100%, 100% 96%);
    padding: 10rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .course {
    clip-path: polygon(100% 0, 0 4%, 0 100%, 100% 96%);
    padding: 7rem 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .course {
    padding: 7rem 3rem;
  }
}
@media only screen and (min-width: 992px) {
  .course {
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    padding: 10rem 0;
  }
}
.course--heading {
  text-align: center;
}
.course--heading h2 {
  font-weight: 500;
}
@media only screen and (max-width: 575.9px) {
  .course--heading h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 576px) {
  .course--heading h2 {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 768px) {
  .course--heading h2 {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 992px) {
  .course--heading h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 575.9px) {
  .course--heading p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) {
  .course--heading p {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 768px) {
  .course--heading p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 992px) {
  .course--heading p {
    font-size: 0.98rem;
    margin-bottom: 1rem;
  }
}
.course--item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
@media only screen and (max-width: 575.9px) {
  .course--item {
    flex-direction: column;
  }
}
@media only screen and (min-width: 576px) {
  .course--item {
    flex-direction: column;
  }
}
@media only screen and (min-width: 992px) {
  .course--item {
    flex-direction: row;
    gap: 6rem;
  }
}
@media only screen and (min-width: 1400px) {
  .course--item {
    gap: 8rem;
  }
}
.course--item-card {
  width: 16rem;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.905);
}
@media only screen and (min-width: 576px) {
  .course--item-card {
    width: 14rem;
  }
}
@media only screen and (min-width: 768px) {
  .course--item-card {
    width: 15rem;
  }
}
@media only screen and (min-width: 992px) {
  .course--item-card {
    width: 16rem;
  }
}
.course--item-card_img {
  width: 100%;
  height: 11rem;
  border-radius: 1.5rem;
  overflow: hidden;
}
.course--item-card_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.course--item-card_img > img:hover {
  transform-origin: center;
  transform: scale(1.2);
}
.course--item-card_body {
  padding: 1rem;
  font-size: 14px;
  color: #fff;
}
@media only screen and (max-width: 575.9px) {
  .course--item-card_body h2 {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
  }
}
@media only screen and (min-width: 576px) {
  .course--item-card_body h2 {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
  }
}
@media only screen and (min-width: 768px) {
  .course--item-card_body h2 {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
  }
}
@media only screen and (min-width: 576px) {
  .course--item-card_body p {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 768px) {
  .course--item-card_body p {
    font-size: 0.89rem;
  }
}

.contact--area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 6rem;
}
@media only screen and (max-width: 575.9px) {
  .contact--area {
    padding: 4rem 3rem;
  }
}
@media only screen and (min-width: 576px) {
  .contact--area {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .contact--area {
    padding: 4rem 3rem;
  }
}
@media only screen and (min-width: 992px) {
  .contact--area {
    padding: 4rem;
  }
}
.contact--area-heading > h2 {
  font-weight: 400;
}
@media only screen and (max-width: 575.9px) {
  .contact--area-heading > h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 576px) {
  .contact--area-heading > h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .contact--area-heading > h2 {
    font-size: 1.4rem;
  }
}
.contact--area-heading > p {
  font-size: 14px;
}
@media only screen and (max-width: 575.9px) {
  .contact--area-heading > p {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 576px) {
  .contact--area-heading > p {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 768px) {
  .contact--area-heading > p {
    font-size: 0.85rem;
  }
}
.contact--area-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
@media only screen and (max-width: 575.9px) {
  .contact--area-items {
    flex-direction: column-reverse;
    align-items: initial;
  }
}
@media only screen and (min-width: 576px) {
  .contact--area-items {
    gap: 2rem;
  }
}
.contact--area-items_img {
  width: 100%;
}
.contact--area-content {
  width: 100%;
}
.contact--area-content > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}
.contact--area-content > form button {
  width: 50% !important;
  margin: 0 auto;
}
.contact--area-content .form-grp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.6rem;
  gap: 0.2rem;
}
.contact--area-content .form-grp input {
  height: 2rem;
  border: none;
  border-radius: 0.4rem;
  padding: 1.2rem;
  background-color: rgba(238, 238, 238, 0.531);
}
.contact--area-content .form-grp input::placeholder {
  padding-left: 1rem;
}
.contact--area-content .form-grp textarea {
  background-color: rgba(238, 238, 238, 0.531);
  border: none;
  border-radius: 0.4rem;
  padding: 1rem;
  resize: none;
}
.contact--area-content .form-grp textarea::placeholder {
  padding: 1rem;
}

.footer--area {
  width: 100%;
  height: 100%;
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column-reverse;
  gap: 1.5rem;
  background-color: rgba(0, 0, 0, 0.905);
}
@media only screen and (max-width: 575.9px) {
  .footer--area {
    padding: 2rem;
    gap: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .footer--area {
    padding: 2rem;
    gap: 2rem;
    align-items: center;
  }
}
@media only screen and (min-width: 992px) {
  .footer--area {
    padding: 2rem 5rem;
  }
}
.footer--area h2 {
  font-weight: 400;
  font-size: 1.3rem;
}
@media only screen and (max-width: 575.9px) {
  .footer--area h2 {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 576px) {
  .footer--area h2 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer--area h2 {
    font-size: 1.2rem;
  }
}
.footer--area-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
@media only screen and (max-width: 575.9px) {
  .footer--area-item {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media only screen and (min-width: 576px) {
  .footer--area-item {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.footer--area-item_links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.1rem;
  color: #fff;
}
@media only screen and (max-width: 575.9px) {
  .footer--area-item_links {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 576px) {
  .footer--area-item_links {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 768px) {
  .footer--area-item_links {
    align-items: center;
  }
}
.footer--area-item_links ul > li {
  list-style: none;
  line-height: 1.7;
}
@media only screen and (max-width: 575.9px) {
  .footer--area-item_links ul > li {
    line-height: 1.7;
  }
}
@media only screen and (min-width: 576px) {
  .footer--area-item_links ul > li {
    line-height: 1.7;
  }
}
.footer--area-item_links ul > li a {
  font-size: 1rem;
  color: #fff;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
@media only screen and (max-width: 575.9px) {
  .footer--area-item_links ul > li a {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 576px) {
  .footer--area-item_links ul > li a {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer--area-item_links ul > li a {
    font-size: 0.95rem;
  }
}
.footer--area-item_links ul > li > a:hover {
  color: #1e90ff;
}
.footer--area-item_links ul > li > a > i {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 1.5rem;
}
@media only screen and (max-width: 575.9px) {
  .footer--area-item_links ul > li > a > i {
    font-size: 1rem;
  }
}
.footer--area-item_links ul > li > a > i:hover {
  color: #1e90ff;
}
.footer--area-item_footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
@media only screen and (min-width: 576px) {
  .footer--area-item_footer h2 i {
    font-size: 1rem;
  }
}
.footer--area-item_footer h2 a {
  color: #fff;
}
.footer--area-item_footer h2 a:hover {
  text-decoration: underline;
}
.footer--area-item_footer h2 {
  margin-bottom: 0.2rem;
}
@media only screen and (max-width: 575.9px) {
  .footer--area-item_footer h2 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .footer--area-item_footer h2 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer--area-item_footer h2 {
    font-size: 1.2rem;
  }
}
.footer--area-item_footer p i {
  color: rgb(255, 19, 19);
  font-size: 1.5rem;
}
@media only screen and (max-width: 575.9px) {
  .footer--area-item_footer p {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 576px) {
  .footer--area-item_footer p {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer--area-item_footer p {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
