@use "../abstract/functions" as fun;
@use "../abstract/mixins" as mixin;

.background-shapes {

  .box1 {
    position: absolute;
    top: 14%;
    left: 8%;
    width: .7rem;
    height: .7rem;
    border-radius: .19rem;
    background-color: transparent;
    border: .1rem solid fun.theme-color();
    transition: animation .2s cubic-bezier(0.215, 0.610, 0.355, 1);
    animation: rotate 9s linear infinite;
    z-index: -1;

    @include mixin.responsive(sm) {
      top: 20%;
    }
  }

  .box2 {
    position: absolute;
    bottom: 30%;
    left: 34%;
    width: .7rem;
    height: .7rem;
    border-radius: .19rem;
    background-color: transparent;
    border: .1rem solid fun.theme-color("default-dark");
    transition: animation .2s cubic-bezier(0.215, 0.610, 0.355, 1);
    animation: rotate 9s linear infinite;
    z-index: -1;

    @include mixin.responsive(xs) {
      display: none;
    }

    @include mixin.responsive(sm) {
      top: 27%;
      left: 64%;

    }

    @include mixin.responsive(md) {
      top: 16%;
      left: 64%;

    }
  }

  .box3 {
    position: absolute;
    bottom: 14%;
    right: 5%;
    width: .7rem;
    height: .7rem;
    border-radius: .19rem;
    background-color: transparent;
    border: .1rem solid rgb(19, 151, 138);
    transition: animation .2s cubic-bezier(0.215, 0.610, 0.355, 1);
    animation: rotate 9s linear infinite;
    z-index: -1;

    @include mixin.responsive(sm) {
      bottom: 30%;
      right: 7%;
    }
  }

  .circle1 {
    position: absolute;
    top: 54%;
    left: 5%;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background-color: transparent;
    border: .1rem solid fun.theme-color();
    transition: animation .2s cubic-bezier(0.215, 0.610, 0.355, 1);
    animation: rotate 9s linear infinite;
    z-index: -1;

    @include mixin.responsive(sm) {
      top: 43%;
    }
  }

  .circle2 {
    position: absolute;
    bottom: 8%;
    left: 22%;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background-color: transparent;
    border: .1rem solid fun.theme-color("default-dark");
    transition: animation .2s cubic-bezier(0.215, 0.610, 0.355, 1);
    animation: rotate 9s linear infinite;
    z-index: -1;

    @include mixin.responsive(md) {
      bottom: 14%;
      left: 6%;
    }

    @include mixin.responsive(lg) {
      bottom: 14%;
      left: 16%;
    }
  }

  .circle3 {
    position: absolute;
    bottom: 14%;
    right: 18%;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background-color: transparent;
    border: .1rem solid rgb(46, 195, 177);
    transition: animation .2s cubic-bezier(0.215, 0.610, 0.355, 1);
    animation: rotate 9s linear infinite;
    z-index: -1;

    @include mixin.responsive(sm) {
      right: 28%;
    }
  }

  .circle4 {
    position: absolute;
    top: 16%;
    right: 5%;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background-color: transparent;
    border: .1rem solid rgb(19, 151, 138);
    transition: animation .2s cubic-bezier(0.215, 0.610, 0.355, 1);
    animation: rotate 9s linear infinite;
    z-index: -1;

    @include mixin.responsive(sm) {
      top: 40%;
      right: 10%;
    }
  }

  .dot1 {
    position: absolute;
    bottom: 7%;
    left: 50%;
    width: .3rem;
    height: .3rem;
    background-color: fun.theme-color();
    z-index: -1;

    @include mixin.responsive(md) {
      bottom: 80%;
      left: 90%;
    }
  }

  .dot2 {
    position: absolute;
    top: 12%;
    right: 47%;
    width: .3rem;
    height: .3rem;
    background-color: fun.theme-color();
    z-index: -1;

    @include mixin.responsive(sm) {
      top: 40%;
    }

    @include mixin.responsive(lg) {
      top: 70%;
    }
  }

  .dot3 {
    position: absolute;
    top: 15%;
    left: 10%;
    width: .3rem;
    height: .3rem;
    background-color: fun.theme-color();
    z-index: -1;

    @include mixin.responsive(sm) {
      top: 20%;
      left: 20%;
    }
  }
}