@use "../abstract/functions" as fun;
@use "../abstract/mixins" as mixin;

.footer--area {
  width: 100%;
  height: 100%;
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column-reverse;
  gap: 1.5rem;
  background-color: fun.theme-color("default-dark");

  @include mixin.responsive(xs) {
    padding: 2rem;
    gap: 1rem;
  }

  @include mixin.responsive(sm) {
    padding: 2rem;
    gap: 2rem;
    align-items: center;
  }

  @include mixin.responsive(lg) {
    padding: 2rem 5rem;
  }

  & h2 {
    font-weight: 400;
    font-size: 1.3rem;

    @include mixin.responsive(xs) {
      font-size: .8rem;
    }

    @include mixin.responsive(sm) {
      font-size: 1rem;
    }

    @include mixin.responsive(md) {
      font-size: 1.2rem;
    }
  }

  &-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;


    @include mixin.responsive(xs) {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }

    @include mixin.responsive(sm) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &_links {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: .1rem;
      color: fun.theme-color("default-white");

      @include mixin.responsive(xs) {
        align-items: flex-start;
      }

      @include mixin.responsive(sm) {
        align-items: flex-start;
      }

      @include mixin.responsive(md) {
        align-items: center;
      }

      ul > li {
        list-style: none;
        line-height: 1.7;

        @include mixin.responsive(xs) {
          line-height: 1.7;
        }

        @include mixin.responsive(sm) {
          line-height: 1.7;
        }

        a {
          font-size: 1rem;
          color: fun.theme-color("default-white");
          transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

          @include mixin.responsive(xs) {
            font-size: .7rem;
          }

          @include mixin.responsive(sm) {
            font-size: .9rem;
          }

          @include mixin.responsive(md) {
            font-size: .95rem;
          }
        }



        & > a:hover {
          color: fun.theme-color();
        }

        & > a > i {
          transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
          font-size: 1.5rem;

          @include mixin.responsive(xs) {
            font-size: 1rem;
          }

          &:hover {
            color: fun.theme-color();

          }
        }
      }
    }

    &_footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: fun.theme-color("default-white");

      h2 i {
        @include mixin.responsive(sm) {
          font-size: 1rem;
        }
      }

      h2 a {
        color: fun.theme-color("default-white");

        &:hover {
          text-decoration: underline;
        }
      }

      h2 {
        margin-bottom: .2rem;

        @include mixin.responsive(xs) {
          font-size: 1rem;
        }

        @include mixin.responsive(sm) {
          font-size: 1rem;
        }

        @include mixin.responsive(md) {
          font-size: 1.2rem;
        }
      }

      p {
        i {
          color: rgb(255, 19, 19);
          font-size: 1.5rem;
        }

        @include mixin.responsive(xs) {
          font-size: .7rem;
        }

        @include mixin.responsive(sm) {
          font-size: .7rem;
        }

        @include mixin.responsive(md) {
          font-size: .8rem;
        }

      }
    }
  }
}