@use "../abstract/variables" as var;
@use "../abstract/functions" as fun;
@use "../abstract/mixins" as mixin;

.header {
  width: 100%;
  background-color: fun.theme-color("default-white");
  z-index: 10;

  @include mixin.responsive(xs) {
    position: fixed;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0 .6px 10px .6px fun.theme-color("default-dark");
  }

  @include mixin.responsive(sm) {
    position: fixed;
    border-radius: 0;
    box-shadow: 0 .6px 10px .6px fun.theme-color("default-dark");
  }

  @include mixin.responsive(md) {
    border-radius: 0;
  }

  & > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 9rem;

    @include mixin.responsive(xs) {
      padding: .7rem 2rem;
    }

    @include mixin.responsive(sm) {
      padding: .8rem 2rem;
    }

    @include mixin.responsive(md) {
      padding: .8rem 3rem;
    }

    & > a h2 {
      font-family: var.$font-shadow-light;

      @include mixin.responsive(xs) {
        font-size: 1rem;
      }

      @include mixin.responsive(sm) {
        font-size: 1.2rem;
      }

      @include mixin.responsive(md) {
        font-size: 1.4rem;
      }
    }

    & > a:hover {
      color: fun.theme-color("default-dark-hover");
    }

    .nav-toggler > box-icon {
      display: none;

      @include mixin.responsive(xs) {
        display: block;
        font-size: 1rem;
      }

      @include mixin.responsive(sm) {
        display: block;
        font-size: 1rem;
      }
    }
  }

  &--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    @include mixin.responsive(xs) {
      display: none;
    }

    @include mixin.responsive(sm) {
      display: none;
    }

    &--item {
      list-style: none;

      & > a {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: .1rem;
        transition: all .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);

      }

      & > a:hover {
        color: fun.theme-color();
      }
    }
  }

}