@use "../abstract/variables" as var;
@use "../abstract/functions" as fun;
@use "../abstract/mixins" as mixin;

.header {
  width: 100%;
  transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1);

  @include mixin.responsive(xs) {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  @include mixin.responsive(sm) {
    border-radius: 0;
  }

  @include mixin.responsive(md) {
    border-radius: 0;
  }

  & > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 9rem;
    z-index: 11;

    @include mixin.responsive(xs) {
      padding: .7rem 2rem;
    }

    @include mixin.responsive(sm) {
      padding: .8rem 2rem;
    }

    @include mixin.responsive(md) {
      padding: .8rem 3rem;
    }

    @include mixin.responsive(xl) {
      padding: .8rem 4rem;
    }

    @include mixin.responsive(xxl) {
      padding: .8rem 6rem;
    }

    & > a h2 {
      font-family: var.$font-shadow-light;

      @include mixin.responsive(xs) {
        font-size: 1rem;
      }

      @include mixin.responsive(sm) {
        font-size: 1.2rem;
      }

      @include mixin.responsive(md) {
        font-size: 1.4rem;
      }
    }

    & > a:hover {
      color: fun.theme-color("default-dark-hover");
    }

    .nav-toggler > i {
      display: none;

      @include mixin.responsive(xs) {
        display: block;
        font-size: 1.5rem;

        &.hide {
          display: none;
        }
      }

      @include mixin.responsive(sm) {
        display: block;
        font-size: 2rem;

        &.hide {
          display: none;
        }
      }

      @include mixin.responsive(lg) {
        display: none;
      }
    }
  }

  &--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    @include mixin.responsive(xs) {
      display: none;
      @include mixin.mob-menu;
    }

    @include mixin.responsive(sm, "sm-md") {
      display: none;
      @include mixin.mob-menu;

      top: 10%;
      right: -100%;
      width: 50%;

      &.show {
        right: 0;
      }
    }

    @include mixin.responsive(lg) {
      display: flex;
    }

    &--item {
      list-style: none;

      & > a {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: .1rem;
        transition: all .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        &.active {
          color: fun.theme-color();
        }
      }

      & > a:hover {
        color: fun.theme-color();
      }
    }
  }

  &.nav-fixed {
    width: 100%;
    position: fixed;
    top: -1px;
    left: 0;
    right: 0;
    background-color: fun.theme-color("default-white");
    box-shadow: 0 0 2px 0 fun.theme-color("default-dark");
    z-index: 20;
  }

}